*{
	margin:0;
	padding: 0;
}

body{
	width: 1000px;
	margin:0 auto;
	min-height: 700px;
		background-color:#404040;
}

a:link, a:hover, a:visited {
	text-decoration:none;
}

@font-face{
	font-family: "Lato";
	src:url(Lato.ttf);	
}

h1{
	color: #ff0000;
	font-size: 34px;
	font-family:Myriad Pro;

}

header{
	height: 120px;
	background-color:white;
	margin-top:20px;
	}

#slogan{
	color: #787878;
	font-size: 18px;
	font-family:Myriad Pro;
	font-weight:100;
	float:left;
}

#search{
	float:right;
}
#language{
	color: #303132;
	text-transform:uppercase;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
	float:right;
}

#navcontainer{
	float:right;
}
#navcontainer a{
	color:#303132;
	font-size: 18px;
	font-family: 'Lato', sans-serif;

}

h2{ 
	color: white;
	font-size: 34px;
	font-family: 'Lato', sans-serif;
	font-weight:100;
}

#blogcontainer{	
	float:left;
	width: 100%;
}

.post{
	position:relative;
	float:left;
	width: 220px;
	height: 300px;
	padding-left:20px;
	margin-top:60px;
}
	
.post h2{
	position:abosulute;
	margin-top: -290px;
	margin-left: 20px;
    bottom: 0;
}
.post h3{
	padding-top: 170px;
}


h3{
	color: #ffffff;
	font-size: 12px;
	font-family: 'Lato', sans-serif;
	opacity: 0.3;
	float:right;
	font-weight:100;
}

#introduction{ 
	margin-top: 88px;
	float:left;

}
#introduction h2{
	text-align:center;
}

#introduction p{
	color:#c2c2c2;
	font-size: 18px;
	font-family: 'Lato', sans-serif;
	text-align: center;
}
footer{
	padding-top: 200px;
}

#sidebar_left{
	float:left;
}

#sidebar_right{
	float:right;
}

#sidebar_left p, #sidebar_right p{
	color:#c2c2c2;
	font-size: 11px;
	font-family: 'Lato', sans-serif;
}